.root {
  width: 70%;
  margin: 20px auto;
  min-height: 400px;
  position: relative;
  .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    .logo {
      width: 180px;
      height: 100%;
      align-items: center;
      text-align: center;
      display: flex;
      justify-content: space-between;
      span {
        font-size: 20px;
      }
    }
    .emptyCart {
      width: 180px;
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      margin-left: 20px;
    }
  }
  .items {
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .item {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .leftBox {
        width: 250px;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        .title {
          font-size: 20px;
          font-weight: 600;
        }
      }
      .rightBox {
        width: 300px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        margin-left: 20px;
        .manageItems {
          width: 30%;
          height: 100%;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: space-between;
          .add {
            min-width: 30px;
            min-height: 30px;
            border-radius: 50%;
            border: solid 1px #fe5f1e;
            text-align: center;
            font-size: 22px;
            font-weight: 400;
            color: #fe5f1e;
            margin-right: 10px;
          }
          .add:hover {
            color: white;
            background-color: #fe5f1e;
            cursor: pointer;
            transition: all 0.3s;
          }
          .add:active {
            background-color: darken(#fe5f1e, 10%);
          }
          .minus {
            min-width: 30px;
            min-height: 30px;
            border-radius: 50%;
            border: solid 1px #fe5f1e;
            text-align: center;
            font-size: 22px;
            font-weight: 400;
            color: #fe5f1e;
            margin-left: 10px;
          }
          .minus:hover {
            color: white;
            background-color: #fe5f1e;
            cursor: pointer;
            transition: all 0.3s;
          }
          .minus:active {
            background-color: darken(#fe5f1e, 10%);
          }
          .numberOfItemsAdded {
            font-size: 20px;
            font-weight: 500;
          }
        }
        .totalPrice {
          font-size: 20px;
          font-weight: 500;
          margin: 0 10px;
          width: 50px;
          text-align: center;
        }
        .delete:hover {
          cursor: pointer;
        }
      }
    }
  }
  .bottomRow {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    .bottomLeftRow {
      height: 100%;
      width: 150px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      .totalNumOfItems {
        font-size: 18px;
      }
      .link {
        width: 100%;
        height: 30px;
        border: solid 1px black;
        border-radius: 15px;
        background-color: #fff;
        font-size: 18px;
        transition: all 0.3s;
        color: black;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .link:hover {
        color: #fff;
        background-color: black;
      }
    }
    .bottomRightRow {
      height: 100%;
      width: 150px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      button {
        width: 100%;
        height: 30px;
        border: solid 1px #fe5f1e;
        border-radius: 15px;
        background-color: white;
        font-size: 18px;
        transition: all 0.3s;
        color: #fe5f1e;
      }
      button:hover {
        color: #fff;
        background-color: #fe5f1e;
      }
      button:active {
        color: #fff;
        background-color: darken(#fe5f1e, 10%);
      }
      .totalAmountOfMoney {
        font-size: 18px;
        span {
          color: #fe5f1e;
          font-weight: 500;
        }
      }
    }
  }
}
